@model List<Customer>
@{
	ViewData["Title"] = "Sports Pro";
	Layout = "_Layout";
}

<div class="container">
    <div class="row mt-4">
        <!-- Added margin top -->
        <div class="col-md-10 col-lg-8 mx-auto">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>City</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td>@customer.FullName</td>
                            <td>@customer.Email</td>
                            <td>@customer.City</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Customers" asp-action="Edit" asp-route-id="@customer.CustomerID" asp-route-slug="@customer.Slug">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-controller="Customers" asp-action="Delete" asp-route-id="@customer.CustomerID" asp-route-slug="@customer.Slug">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="mb-4">
                <a class="btn btn-primary" asp-controller="Customers" asp-action="Add">Add New Customer</a> <!-- Applied the color -->
            </div>
        </div>
    </div>
</div>


